<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:cover {"dimRatio":40,"gradient":"soli","minHeight":250,"minHeightUnit":"px","isDark":true,"contentPosition":"bottom left","className":"page-header-cover","style":{"spacing":{"padding":{"top":"80px","bottom":"40px","left":"15px","right":"15px"}}}} -->
<div class="wp-block-cover is-dark has-custom-content-position is-position-bottom-left page-header-cover" style="padding-top:80px;padding-right:15px;padding-bottom:40px;padding-left:15px;min-height:250px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-40 has-background-dim wp-block-cover__gradient-background has-soli-gradient-background"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"level":1,"style":{"typography":{"textTransform":"uppercase","fontWeight":"700","fontSize":"36px"}},"textColor":"background"} -->
<h1 class="wp-block-heading has-background-color has-text-color" style="font-size:36px;font-weight:700;text-transform:uppercase">Pagina niet gevonden</h1>
<!-- /wp:heading --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"40px","bottom":"40px","left":"15px","right":"15px"}}},"layout":{"type":"constrained","contentSize":"835px"}} -->
<main class="wp-block-group" style="padding-top:40px;padding-right:15px;padding-bottom:40px;padding-left:15px">
	<!-- wp:paragraph {"style":{"typography":{"fontSize":"18px"}}} -->
	<p style="font-size:18px">De pagina die je zocht bestaat niet (meer). Probeer een zoekopdracht of ga terug naar de homepage.</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":"Zoeken","buttonText":"Zoek"} /-->

	<!-- wp:paragraph {"style":{"typography":{"fontSize":"18px"}}} -->
	<p style="font-size:18px"><a href="/">Terug naar de homepage</a></p>
	<!-- /wp:paragraph -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
