<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":40,"gradient":"soli","minHeight":250,"minHeightUnit":"px","isDark":true,"contentPosition":"bottom left","className":"page-header-cover","style":{"spacing":{"padding":{"top":"80px","bottom":"40px","left":"15px","right":"15px"}}}} -->
<div class="wp-block-cover is-dark has-custom-content-position is-position-bottom-left page-header-cover" style="padding-top:80px;padding-right:15px;padding-bottom:40px;padding-left:15px;min-height:250px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-40 has-background-dim wp-block-cover__gradient-background has-soli-gradient-background"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"level":1,"style":{"typography":{"textTransform":"uppercase","fontWeight":"700","fontSize":"36px"}},"textColor":"background"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"40px","bottom":"40px","left":"15px","right":"15px"}}},"layout":{"type":"constrained","contentSize":"835px"}} -->
<main class="wp-block-group" style="padding-top:40px;padding-right:15px;padding-bottom:40px;padding-left:15px">
	<!-- wp:post-content {"className":"page-content","style":{"typography":{"fontSize":"18px","lineHeight":"1.6"}}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
